@import "../common/commonColor.css";

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondaryColor);
    height: 72px;
    padding: 0px 40px;
}


.logo{
    color: var(--fontPrimary);
    font-size: 25px;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
    text-decoration-line: none;
   color: yellow;
}
.user-image, .user-image img{
    width:38px;
    height: 38px;
}

/* search bar */
.search-bar{
    width: 50%;
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
}
form{
    width: 70%;
    display: flex;
    justify-content: center;
}
form button{
    cursor: pointer;
    padding: 0px 8px;
    font-size: 20px;
    height: 30px;
    border: none;
}

input{
    font-size: 18px;
    width: 100%;
    padding: 5px 5px 5px 10px;
    height: 30px;
    outline: none;
}



/* responsiveness */
@media only screen and (max-width: 600px) {
    .logo{
       font-size: 20px;
       /* border: 1px solid red; */
    }
    .user-image, .user-image img{
        display: none;
    }
    .search-bar{
        width: 61%;
        /* border: 1px solid green; */
    }

    form{
        width: 100%;
    }
    input{
        font-size: 12px;
        width: 100%;
        padding: 5px 5px 5px 10px;
        height: 30px;
        outline: none;
    }
    form button{
        cursor: pointer;
        padding: 0px 8px;
        font-size: 15px;
        height: 30px;
        border: none;
    }
    
    
   
  }