@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");

.mycarousel img{
    width:100%;
    height: 450px;
    background-size: cover;
}

/* responsiveness */
@media only screen and (max-width: 600px) {
    .mycarousel img{
       height: 350px;
    }
}