@import "../common//commonColor.css";

.item{
    background-color: teal;
    margin: 20px;
    
}
.item img{
    width:100%;
   
    height: 250px;
}

.mycarousel2{
    width:100%;
    background-color:var(--primaryColor) ;
    /* padding-bottom: 5%; */
    /* padding-top: 3%; */
}

/* responsiveness */
@media only screen and (max-width: 600px) {
    .item img{
       
        height: 190px;
    }
}