:root {
    --primaryColor: #0f171e;
    --secondaryColor: #1a242f;
    --fontPrimary: #ffffff;
    --fontSecondary: #79b8f3;
  }
  

   /* :root {
    --primaryColor: #000000;
    --secondaryColor: #181D31;
    --fontPrimary: #ffffff;
    --fontSecondary: #79b8f3;
  } */